<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>Company Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'company.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
      <a class="navbar-brand mx-2" href="#">NUCES-Circle</a>
      <form class="form-inline" role="form">
        <div class="input-group">
          <input class="form-control mb-2 mr-sm-2" type="search" value="search" id="example-search-input">
          <span class="input-group-append">
            <button class="btn btn-outline-secondary mb-2 mr-sm-2" type="button" onclick="search()">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
</nav>

<div class="container emp-profile">
    <div class="row h-100">
        <div class="col-md-4" style="text-align: center;">
            <div class="profile-img">
                <img src="https://img.freepik.com/free-vector/young-anonymous-hacker-with-flat-design_23-2147887812.jpg" alt=""/>
            </div>
            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Follow"/>
        </div>
        <div class="col-md-8">
            <div class="profile-head">
               <div class="row h-20 mx-2">
                <h5 class="my-5">
                    i2c Inc.
                </h5><hr></div>
                <div class="row h-20 mx-2">
                   <br>
                   <h6>Enabling Payments for Issuers Globally</h6>
                   <br></div><br>
                   <div class="row h-20 mx-2">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="edu-tab" data-toggle="tab" href="#edu" role="tab" aria-controls="edu" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="acc-tab" data-toggle="tab" href="#acc" role="tab" aria-controls="acc" aria-selected="false">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="exp-tab" data-toggle="tab" href="#exp" role="tab" aria-controls="exp" aria-selected="false">People</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="edu" role="tabpanel" aria-labelledby="edu-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Overview: </label>
                        </div>
                        <div class="col-md-8">
                            <p>i2c’s mission is to create better payment and commerce experiences for consumers and businesses around the world. We build the payment technology and services global brands, financial institutions, corporations, and governments need to deliver high-impact, personalized payments and commerce solutions that build loyalty and engage today’s consumers in new ways, creating more profitable relationships. i2c’s highly-configurable, cloud-based Agile Payments processing platform provides unparalleled flexibility, agility, and reliability so companies can quickly and cost-effectively deploy differentiated, feature-rich credit, debit, and prepaid programs anywhere in the world. Our customers rely on us to deliver profitable credit, debit, and prepaid solutions that meet the highly-differentiated needs of cardholders in 216 countries and territories.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Website: </label>
                        </div>
                        <div class="col-md-8">
                            <p>https://www.i2cinc.com </p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="acc" role="tabpanel" aria-labelledby="acc-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>My accomplishment</label>
                        </div>
                        <div class="col-md-6">
                            <p> Detail of Accomplishment</p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="exp" role="tabpanel" aria-labelledby="exp-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Company Name: </label>
                        </div>
                        <div class="col-md-6">
                            <p>Responsibilities of the Job and Other details</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Company Name: </label>
                        </div>
                        <div class="col-md-6">
                            <p>Responsibilities of the Job and Other details</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Company Name: </label>
                        </div>
                        <div class="col-md-6">
                            <p>Responsibilities of the Job and Other details</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Company Name: </label>
                        </div>
                        <div class="col-md-6">
                            <p>Responsibilities of the Job and Other details</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Company Name: </label>
                        </div>
                        <div class="col-md-6">
                            <p>Responsibilities of the Job and Other details</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="intres" role="tabpanel" aria-labelledby="intres-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Interest</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Interest</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Interest</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Interest</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Interest</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="skill" role="tabpanel" aria-labelledby="skill-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Skill: </label>
                        </div>
                        <div class="col-md-6">
                            <p> Expertise Level</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Skill: </label>
                        </div>
                        <div class="col-md-6">
                            <p> Expertise Level</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Skill: </label>
                        </div>
                        <div class="col-md-6">
                            <p> Expertise Level</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Skill: </label>
                        </div>
                        <div class="col-md-6">
                            <p> Expertise Level</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'company.js' %}"></script>
</body>
</html>
