{% extends "base.html" %}

{% block styles %}
  <style type="text/css">
	body
	{
		background-color: #F7F7F7;
	}

	.list-group-item.active, .list-group-item.active:hover {
		background-color: #343a40;  !important;
		border-color: #aed248;  !important;
	}
  </style>
{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-3 ">
				<div class="list-group nav nav-tabs" data-toggle="tab" role="tablist">
					<a href="#edit" class="list-group-item list-group-item-action active">Edit Profile</a>
					<a href="#edu" class="list-group-item list-group-item-action">Education</a>
					<a href="#acc" class="list-group-item list-group-item-action">Accopmlishments</a>
					<!-- <a href="#exp" class="list-group-item list-group-item-action">Experience</a> -->
					<a href="#intres" class="list-group-item list-group-item-action">Interests</a>
					<a href="#skill" class="list-group-item list-group-item-action">Skills</a>
				</div>
			</div>
			<div class="col-md-9 tab-content">
				<div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
					<div class="card text-white bg-secondary">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Edit Profile</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form role="form" action="{% url 'profile_edit' %}" method="POST" id="profile_edit" autocomplete="off">
										{% csrf_token %}
									<div class="form-group row">
										<label for="name" class="col-4 col-form-label">Full Name*</label>
										<div class="col-8">
											<input id="name" name="name" placeholder="Full Name" class="form-control here" required type="text" value="{{ user.first_name }} {{ user.last_name }}">
										</div>
									</div>
									<div class="form-group row">
										<label for="email" class="col-4 col-form-label">Email*</label>
										<div class="col-8">
											<input id="email" name="email" placeholder="Email" class="form-control here" required type="email" value="{{ user.email }}">
										</div>
									</div>
									<div class="form-group row">
										<label for="publicinfo" class="col-4 col-form-label">Student Bio</label>
										<div class="col-8">
											<textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control" placeholder="Add Bio">{{ student.bio }}</textarea>
										</div>
									</div>
									<div class="form-group row">
										<label for="newpass" class="col-4 col-form-label">New Password</label>
										<div class="col-8">
											<input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="password">
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-4 col-8">
											<button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
											{% if message %}
											<label>{{ message }}</label>
											{% endif %}
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
				<div class="tab-pane fade" id="edu" role="tabpanel" aria-labelledby="edu-tab">
					<div class="card text-white bg-secondary">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Education</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form>
									<div class="form-group row">
										<label for="semester" class="col-4 col-form-label">Semester</label>
										<div class="col-8">
                      <select class="form-control here" id="semester">
                        <option>1st Semester</option>
                        <option>2nd Semester</option>
                        <option>3rd Semester</option>
                        <option>4th Semester</option>
                        <option>6th Semester</option>
                        <option>7th Semester</option>
                        <option>8th Semester</option>
                      </select>
										</div>
									</div>
									<div class="form-group row">
										<label for="school" class="col-4 col-form-label">School</label>
										<div class="col-8">
											<input id="school" name="school" placeholder="School Name" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="grad" class="col-4 col-form-label">Graduating Semester</label>
										<div class="col-8">
											<input id="grad" name="grad" placeholder="Fall/Spring/Summer 20XX" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-4 col-8">
											<button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="tab-pane fade" id="acc" role="tabpanel" aria-labelledby="acc-tab">
					<div class="card text-white bg-secondary">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Accopmlishments</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form>
									<div class="form-group row">
										<label for="name" class="col-4 col-form-label">Full Name</label>
										<div class="col-8">
											<input id="name" name="name" placeholder="First Name" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="email" class="col-4 col-form-label">Email*</label>
										<div class="col-8">
											<input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="website" class="col-4 col-form-label">Website</label>
										<div class="col-8">
											<input id="website" name="website" placeholder="website" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="publicinfo" class="col-4 col-form-label">Profile Summary</label>
										<div class="col-8">
											<textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group row">
										<label for="newpass" class="col-4 col-form-label">New Password</label>
										<div class="col-8">
											<input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-4 col-8">
											<button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
				</div>
				<!-- <div class="tab-pane fade" id="exp" role="tabpanel" aria-labelledby="exp-tab">
					<div class="card text-white bg-secondary">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Experience</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form>
									<div class="form-group row">
										<label for="name" class="col-4 col-form-label">Full Name</label>
										<div class="col-8">
											<input id="name" name="name" placeholder="First Name" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="email" class="col-4 col-form-label">Email*</label>
										<div class="col-8">
											<input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="website" class="col-4 col-form-label">Website</label>
										<div class="col-8">
											<input id="website" name="website" placeholder="website" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="publicinfo" class="col-4 col-form-label">Profile Summary</label>
										<div class="col-8">
											<textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group row">
										<label for="newpass" class="col-4 col-form-label">New Password</label>
										<div class="col-8">
											<input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-4 col-8">
											<button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
				</div> -->
				<div class="tab-pane fade" id="intres" role="tabpanel" aria-labelledby="intres-tab">
					<div class="card text-white bg-secondary">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Interests</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form>
									<div class="form-group row">
										<label for="name" class="col-4 col-form-label">Full Name</label>
										<div class="col-8">
											<input id="name" name="name" placeholder="First Name" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="email" class="col-4 col-form-label">Email*</label>
										<div class="col-8">
											<input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="website" class="col-4 col-form-label">Website</label>
										<div class="col-8">
											<input id="website" name="website" placeholder="website" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="publicinfo" class="col-4 col-form-label">Profile Summary</label>
										<div class="col-8">
											<textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group row">
										<label for="newpass" class="col-4 col-form-label">New Password</label>
										<div class="col-8">
											<input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-4 col-8">
											<button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
				</div>
				<div class="tab-pane fade" id="skill" role="tabpanel" aria-labelledby="skill-tab">
					<div class="card text-white bg-secondary">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Skills</h4>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form>
									<div class="form-group row">
										<label for="name" class="col-4 col-form-label">Full Name</label>
										<div class="col-8">
											<input id="name" name="name" placeholder="First Name" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="email" class="col-4 col-form-label">Email*</label>
										<div class="col-8">
											<input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="website" class="col-4 col-form-label">Website</label>
										<div class="col-8">
											<input id="website" name="website" placeholder="website" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="publicinfo" class="col-4 col-form-label">Profile Summary</label>
										<div class="col-8">
											<textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group row">
										<label for="newpass" class="col-4 col-form-label">New Password</label>
										<div class="col-8">
											<input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
										</div>
									</div>
									<div class="form-group row">
										<div class="offset-4 col-8">
											<button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Secondary Panel title</h5>
			<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
		</div>
	</div>
	<div class="card text-white bg-dark" style="max-width: 20rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Dark Panel title</h5>
			<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
		</div>
	</div> -->
	{% endblock %}
	{% block javascript %}
	<script language="javascript" type="text/javascript">
	$('.nav-tabs a').click(function(){
	  $(this).tab('show');
	})
	</script>
	{% endblock %}
