.btn-linkedin {
  background-color: hsl(196, 100%, 43%);
}
/* html {
  height: 100%;
  background: -webkit-linear-gradient(#343a40,#5c6670);
}
body{
	min-height: 100%;
    background: -webkit-linear-gradient(#343a40,#5c6670);
}
.emp-login{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background-color: #ffffff;
} */
